@mixin container-h1 {
    h1 {   
         font-size: 1.5rem;
         font-weight: 600;
         margin: 2rem;
         padding: 0 1rem;
         @include desktop {
             font-size: 2.5rem;
             margin: 2.5rem;
        }
    }
}

@mixin mobile {
    @media(min-width: #{$mobile}) {
        @content
    }
};

@mixin tablet {
    @media(min-width: #{$tablet}) {
        @content
    }
};

@mixin desktop {
    @media(min-width: #{$desktop}) {
        @content
    }
};

@mixin wide-desktop {
    @media(min-width: #{$wide-desktop}) {
        @content
    }
};